#tong{
	width: 100%;
	height: 2400px;
}
#tren{
	width: 100%;
	height: 5%;
}
#tren > .tren{
	width: 100%;
	height: 70%;
}
#tren > .tren > .trai{
	width: 70%;
	height: 100%;
	float: left;
}
#tren > .tren > .phai{
	width: 30%;
	height: 100%;
	float: left;
}
#tren > .duoi{
	width: 100%;
	height: 30%;
}
#duoi{
	width: 100%;
	height: 95%;
	background: #f2f2f2;
}
#duoi_tong{
	margin: auto;
	width: 90%;
	height: 100%;
}
#duoi_tong > .tren{
	width: 100%;
	height: 32%;
}
#duoi_tong > .tren > .tren{
	width: 100%;
	height: 75%;
}
#duoi_tong > .tren > .tren > .trai{
	width: 25%;
	height: 100%;
	float: left;
}
#duoi_tong > .tren > .tren > .giua{
	width: 50%;
	height: 100%;
	float: left;
	background-image: url('https://cdn.glitch.global/4d229a17-5c12-4747-857b-e45d070c5338/Untitled.png?v=1658716162427');
	background-repeat: no-repeat;
	background-size: 100%;	
}
/**/
#duoi_tong > .tren > .tren > .phai{
	width: 25%;
	height: 100%;
	float: left;
}
/*điều chỉnh kích thước của ảnh nv4,5,6,7*/
#duoi_tong > .tren > .duoi{
	width: 100%;
	height: 25%;
}
#duoi_tong > .giua{
	width: 100%;
	height: 45%;
}
#duoi_tong > .giua > .tren{
	width: 100%;
	height: 50%;
}
#duoi_tong > .giua > .duoi{
	width: 100%;
	height: 50%;
}
#duoi_tong > .duoi{
	width: 100%;
	height: 23%;
}
#duoi_tong > .duoi > .tren{
	width: 100%;
	height: 60%;
}
/*nền của phần cuối*/
#duoi_tong > .duoi > .duoi{
	width: 100%;
	height: 40%;
	border-radius: 10px;
	background: rgb(82, 59, 59);
}
/*màu chữ đăng nhập đăng kí*/
.login a{
	text-decoration: none;
	color: #ee1aee;
	font-family:Tahoma;
	font-size: 10px;
	font-weight: bold;
}
/* viền 4 thanh trên */
.menu tr td{
	text-align: center;
	font-family: system-ui;
	font-weight: 500;
	font-size: 15px;
	border: 1px solid #d3d3e7;
	border-radius: 5px;
}
/*màu chữ của 4 thanh trên*/
.menu tr td a{
	text-decoration: none;
	color: #e19108;;
}
/*màu chữ khi di chuột của 4 thanh trên*/
.menu tr td a:hover {
	color: rgb(0, 255, 42) ;
	font-weight: bold;
}
.tren .trai ul{ /* menu dọc  */
	list-style-type: none;
	padding: 0px;
	margin-top: 10px;
}
.tren .trai ul li{
	width: 100%;
	height: 65px;
	position: relative;
}
.tren .trai ul li ul{
	display: none;
}
.tren .trai a{
	text-decoration: none;
	color: #51444f;
	font-family: system-ui;
	font-weight: 500;
	padding: 20px;
}
/*màu backgroud của thanh menu bên trái khi di chuột vào */
.tren > .trai > ul > li:hover{
	background: #00ff44;
	border-radius: 10px;
}
/*màu backgroud của thanh menu nhỏ bên trái khi di chuột vào */
.tren .trai ul li:hover ul{
	display: block;
	position: absolute;
	right: -282px;
	top: -11px;
	width: 280px;
	background: #a2b2b8;
	border-radius: 10px;
}
/*màu chữ của thanh menu nhỏ khi di chuột vào bên trái khi di chuột vào */
.tren .trai ul li ul li:hover a{
	color: #2ccc00; /* đỏ đậm */
	font-weight: bold;
}
/*màu chữ tiêu đề của thanh menu nhỏ bên trái khi di chuột vào */
.titleMenuDoc{
	font-family: system-ui;
	font-weight: 500;
	font-weight: bold;
	color: #1811e6;
}
/*căn lề , phông chữ, cỡ chữ , màu chữ của dòng SẢN PHẨM GIÁ TỐT - CHỐT LIỀN TAY*/
.SanPhamGT{
	text-align: center;
	font-family: system-ui;
	font-weight: 400;
	color: #de0fbf;
}/*căn lề , phông chữ, màu chữ của dòng Sản phẩm mới về*/
.SanPhamMV{
	text-align: center;
	font-family: system-ui;
	color: #3300ff;
}
.SanPhamMV tr td:hover {
	width: 500px;
}
/*căn lề , phông chữ, màu chữ của dòng Vì sao nên chọn*/
.ViSao{
	text-align: center;
	font-family: system-ui;
	color: #fc2ddd;
}
.ViSao .CamKet{
	height: 120px;
	color: #51444f;
	font-size: 20px;
	font-weight: 500;

}
.ViSao .CamKet td{
	background: white;
	border-radius: 10px;
}
.CamKet td:hover {
	border: 1px solid red;
	color: rgb(255, 0, 0);
}
.LoiKet{
	text-align: center;
	font-family: system-ui;
	font-weight: 500;
	color: #51444f;
}